.wrapper {
  width: 100%;
  max-width: 700px;
  margin: auto;
  user-select: none;
  background-color: #e5e5f7;
  background-size: 48px 48px;
  background-image: repeating-linear-gradient(
    0deg,
    #dcdcdc,
    #444cf7 1.4000000000000004px,
    #e5e5f7 1.4000000000000004px,
    #e5e5f7
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.title {
  font-size: 4rem;
  margin-top: 80px;
  margin-bottom: 45px;
}

.todo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid #555;
  color: #112d49;
  background-color: #fbfef9;
}

.signature:hover {
  margin-bottom: -1px;
  border-bottom: 1px solid;
}

.signature {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  padding: 5px;
  right: 5%;
  font-size: 1.5rem;
  background: linear-gradient(45deg, #ff6f91, #f9f871);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(45deg, #ff6f91, #f9f871) 1;
}
