.item {
  margin-bottom: 30px;
  overflow-x: hidden;
  word-wrap: break-word;
  width: 100%;
  max-width: 400px;
  border-bottom: 2px dashed green;
}

.todo {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin-bottom: 33px;
}
.todo:last-child {
  margin-bottom: 70px;
}

.icons {
  margin-left: 70px;
}

.completedTodo {
  text-decoration: line-through double red;
}
.completedTodo .item {
  padding-bottom: 2px;
  border-bottom: none;
}

.todoIcon {
  z-index: 10;
  position: absolute;
  left: -40px;
  top: 50%;
  bottom: 50%;
  transform: translate(-40%, -95%);
  font-size: 1.5rem;
  margin-right: 10px;
  color: teal;
}

.checkIcon,
.deleteIcon {
  cursor: pointer;
  color: #112d49;
  padding: 5px;
  font-size: 2rem;
  transition: transform 0.3s;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-10%, -90%);
  transition: ease 0.2s;
}

.deleteIcon {
  right: 20px;
}

.checkIcon {
  right: -20px;
}

.checkIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.4) translate(-10%, -70%);
}

.checkIcon:hover {
  color: green;
}

.deleteIcon:hover {
  color: red;
}
